@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather+Sans:wght@600&family=Oswald&family=Roboto+Slab:wght@500;600&family=Roboto:wght@400;900&family=Rubik&family=Secular+One&display=swap');


*{
	margin: 0px;
	padding: 0px;
}
main
{
padding: 3px;
}
.navb
{
	display: flex;
	background-color: #FFDAB9;
	padding: 20px;
}
.navb .proimg
{
	text-align: center;
	margin-left: 60px;
	
}
.navb .proimg img
{
	border-radius:200px; 
	border: 3px solid white;
}
.prodet
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction:column;
	margin-left: 120px;
}
#pron
{
	font-size: 60px;
	font-family:Oswald,sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
	margin-bottom: 5px;
	cursor: pointer;

}
#prod
{
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
	letter-spacing: 5px;
	font-family:Roboto, sans-serif;

}
.icon
{
	font-size: 25px;
    margin-top: 18px;
    letter-spacing: 18px;
}
.fa-brands,.fa-solid
{
	color: black;
	font-size: 30px
}
.acada
{
 text-align: center;
 background-color: rgba(132,190,181,0.5);
 padding: 7px;
 

}
.acada h2
{
	 font-weight: bold;
	font-size: 30px;
	 font-family:Merriweather Sans, sans-serif;
	 color:rgba(37,75,77,0.9);
	 letter-spacing: 2px;
	 cursor: pointer;
	 
}
.study
{
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33% ;
	text-align: center;
	background-color: rgba(59,243,255,0.1);

}
.sch1,.sch2,.clg
{
	border: 1px solid rgba(181,188,188,0.4);
	padding:30px;
}
.scot1,.scot2,.scot3
{
	margin-bottom: 15px;

}
.scot1 h3,.scot2 h3,.scot3 h3
{
	margin-bottom: 10px;
	font-weight:bold;
	font-size: 20px;
	font-family:Roboto, sans-serif;
}
.scot1 h4,.scot2 h4,.scot3 h4
{
	font-family:Oswald,sans-serif;
	font-size: 100%;
	margin: 20px 0px;
}
.fot1,.fot2,.fot3
{
	font-family:Oswald,sans-serif;
	font-size: 100%;
	margin: 20px 0px;
}
.fot1 h3,.fot2 h3,.fot3 h3
{
	margin: 8px 0px;
}
.lang
{
 text-align: center;
 background-color: rgba(132,190,181,0.5);
 padding: 7px;
}
.lang h2
{
	 font-weight: bold;
	font-size: 30px;
	 font-family:Merriweather Sans, sans-serif;
	 color:rgba(37,75,77,0.9);
	 letter-spacing: 2px;
	 cursor: pointer;
}
.lanimg
{
	display: flex;
	justify-content: space-around; 
	align-items: center; 
	margin:50px 0px; 
}
.tam,.eng
{
	text-align: center;
}
.tam h2,.eng h2
{
	margin-top: 40px;
	font-size: 30px;
	font-weight:bold;
	font-family:Merriweather Sans, sans-serif; 
}
.skil
{
 text-align: center;
 background-color: rgba(132,190,181,0.5);
 padding: 7px;
}
.skil h2
{
	 font-weight: bold;
	font-size: 30px;
	 font-family:Merriweather Sans, sans-serif;
	 color:rgba(37,75,77,0.9);
	 letter-spacing: 2px;
	 cursor: pointer;	
}
.skill
{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}
.skill .ss
{
	border: 1px solid rgba(181,188,188,0.4);
	text-align: center;
	padding: 20px;
	 font-family:Roboto, sans-serif;
}
.skill .ss img
{
	cursor: pointer;
}
.skill .ss h3
{
	margin: 20px 0px;
	cursor: pointer;
}

/*section 5*/

.achi 
{
 text-align: center;
 background-color: rgba(132,190,181,0.5);
 padding: 7px;
}
.achi h2
{
	 font-weight: bold;
	font-size: 30px;
	 font-family:Merriweather Sans, sans-serif;
	 color:rgba(37,75,77,0.9);
	 letter-spacing: 2px;
	 cursor: pointer;	
}
.pri1
{
	border: 1px solid rgba(181,188,188,0.4);
	display: flex;
	justify-content: space-between;
	padding-right: 40px;
	 font-family:Merriweather Sans, sans-serif;
}
.pri2
{
 border-top: none;
}
.dar
{
	display: flex;
	align-items: center; 
	font-size: 30px;
	padding: 20px;
	padding-left: 40px; 

}
.dar h4
{
	margin-left: 20px;
	color: rgba(0,0,0,0.6);
}
.pri1 .jpclg
{
	padding-left: 40px;
	padding-bottom: 10px;
}
.day
{
	display: flex;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.6);
    font-weight: bold;
     font-family:Roboto, sans-serif;
}


/* section6 */

.proj
{
 text-align: center;
 background-color: rgba(132,190,181,0.5);
 padding: 7px;
}
.proj h2
{
    font-weight: bold;
	font-size: 30px;
	 font-family:Merriweather Sans, sans-serif;
	 color:rgba(37,75,77,0.9);
	 letter-spacing: 2px;
	 cursor: pointer;	
}
.respo
{
	display: flex;
	align-items: center;
}
.project
{
	display: flex;
	justify-content: space-between;
	border: 1px solid rgba(181,188,188,0.4);
	padding: 20px 30px;
	}
.respo h3
{
	margin-left:15px;
    font-family: Rubik, sans-serif;
    font-size: 28px;
    color: rgba(0,0,0,0.7);
}
.project .boo
{
	font-family: Rubik, sans-serif;
	display: flex;
	font-size: 23px;
	align-items: center;
	color: rgba(0,0,0,0.6);
}


/*section 7*/



.hob
{
 text-align: center;
 background-color: rgba(132,190,181,0.5);
 padding: 7px;
}
.hob h2
{
    font-weight: bold;
	font-size: 30px;
	 font-family:Merriweather Sans, sans-serif;
	 color:rgba(37,75,77,0.9);
	 letter-spacing: 2px;
	 cursor: pointer;	
}
.hobe
{
	display: flex;
	justify-content: space-around;
	padding: 40px 20px;
	font-size: 20px;
	font-weight: bold;
	font-family:Merriweather Sans, sans-serif;
	color: rgba(0,0,0,0.6);
	
}
.hobe .ga
{
	display: flex;
	align-items: center;
	transition: 2s ease-in-out;
	cursor: pointer;

}
.hobe .ga:hover
{
  transform: scale(1.09);
  color: rgba(0,0,0,0.9);
}
.hobe .ga img
{
	margin-right:8px; 
}